.solutions {
	margin-top: 100px;
	background-color: #fff;

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 100px;
		max-width: 85%;


		.left {
			flex: 6;

			h1 {
				font-size: 38px;
				font-weight: 700;
			}

			.top {
				margin: 20px 0;

				p {
					font-size: 1rem;
					max-width: 80%;
				}
			}

			.bottom {
				padding: 20px 0px;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				max-width: 70%;

				p {
					font-weight: 500;
					font-size: 1rem;
				}




				.btn {
					border: none;
					outline: none;
					font-size: 14px;
					font-weight: bold;
					letter-spacing: 2px;
					text-transform: uppercase;
					padding: 5px 5px;
					border-radius: 8px;
					color: white;
					display: flex;
					flex-direction: row;
					text-align: left;
					align-items: center;
					justify-content: space-between;
					width: 200px;
					margin-right: 10px;



					img {
						max-width: 40px;
					}

					span {
						margin: 0px 3px;
					}

					small {
						font-weight: 600;
						font-size: 10px;
					}
				}

				.btn1 {
					border: 2px solid grey;
					background: transparent;
					color: black;

					small {
						font-weight: 600;
						font-size: 9.5px;
					}
				}

				.btn2 {
					border: 2px solid grey;
					background: transparent;
					color: black;
				}

			}
		}

		.right {
			flex: 5;
			text-align: center;

			img {
				max-width: 100%;
			}
		}
	}
}

@media screen and(max-width:992px) {
	.solutions {
		.wrapper {
			max-width: 100%;
			flex-direction: column;

			.left {
				flex: 12;
				text-align: center;
			}

			.right {
				flex: 12;
				margin-top: 20px;
				margin-left: 0;
			}

			.top {
				margin: 20px 0;

				p {
					font-size: 1rem;
					max-width: 100% !important;
				}
			}

			.bottom {
				padding: 20px;
				border-radius: 20px;
				max-width: 100% !important;
				margin-top: 30px;
				margin-bottom: 20px;
				display: flex;
				flex-direction: column !important;
				align-items: center;
				justify-content: center;

				p {
					font-weight: 500;
					font-size: 1rem;
				}

				.btn {
					&:last-child {
						margin-left: 0px !important;
						margin-top: 20px;

					}
				}
			}
		}
	}
}