.footer {
	min-height: 300px;
	display: flex;
	align-items: center;
	color: white;
	background-color: #1c164b;
	clip-path: polygon(50% 0, 100% 20%, 100% 100%, 0 100%, 0 20%);

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.left {
			flex: 2;
			img {
				width: 200px;
				margin-bottom: 30px;
			}
			p {
				font-size: 1rem;
				font-weight: 500;
			}
		}

		.center {
			flex: 7;
			margin-left: 50px;
			margin-right: auto;
		}

		.right {
			flex: 3;
			display: flex;
			align-items: flex-end;
			justify-items: flex-end;
			margin-left: auto;

			.linkContainer {
				margin-left: auto;
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					margin-bottom: 30px;

					li {
						display: inline-block;
						border-radius: 50%;
						border: 1px solid #16c5d6;
						margin: 0 8px;
						padding: 5px;

						&:first-child {
							margin-left: 0;
						}
						img {
							width: 25px;
							height: 25px;
						}
					}
				}
				p {
					text-align: start;
					font-weight: 500;
					a {
						color: #16c5d6;
					}
				}
			}
		}
	}
}

@media screen and(max-width: 992px) {
	.footer {
		clip-path: polygon(53% 0, 100% 10%, 100% 100%, 0 100%, 0 10%);
		.wrapper {
			flex-direction: column;
			margin-top: 100px;

			.left {
				flex: 12;
				p {
					display: none;
				}
			}

			.center {
				flex: 12;
				margin-left: 0;
				margin-right: auto;
			}

			.right {
				flex: 12;
				width: 100%;
				align-items: center;
				justify-items: center;
				margin-left: 0;

				.linkContainer {
					width: 70%;
					margin: 0 auto;
					text-align: center;
					ul {
						display: flex;
						align-items: center;
						justify-content: space-around;
						margin: 20px auto;

						li {
							margin: 0;
						}
					}
					p {
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and(max-width:768px) {
	.footer {
		clip-path: polygon(50% 0, 100% 4%, 100% 100%, 0 100%, 0 4%);
	}
}
