.wrapper {
	background-image: url(".../../../../../resources/open/bg.svg");
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 50px 0;

	.left {
		flex: 6;

		h4 {
			font-style: normal;
			font-weight: bold;
			font-size: 2rem;
			line-height: 44px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #29c9f3;
		}

		.text {
			color: #fff;
			margin: 10px 0 40px 0;

			p {
				margin: 0;
				font-size: 1.2rem;
				line-height: 40px;

				span {
					padding: 3px;
					display: inline-block;
					border: 2px solid #29c9f3;
					border-radius: 500%;
					margin-right: 10px;
				}
			}
		}

		.scheduleBtn {
			border: 2px solid transparent;
			outline: none;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 2px;
			text-transform: uppercase;
			padding: 10px 50px;
			border-radius: 30px;
			color: white;
			background: linear-gradient(90.08deg, #00c0b4 0.1%, #29c9f3 99.97%);
			margin-bottom: 20px;
			box-shadow: 0px 20px 25px 0px rgba(38, 200, 238, 0.25);

			&:hover {
				border: 2px solid #00c0b4;
				background: transparent;
				color: #00c0b4;
			}
		}
	}

	.right {
		flex: 6;
		color: #00c0b4;
		background-color: #262d5e;
		border-radius: 30px;
		padding: 20px;

		div {
			font-weight: 500;
			font-size: 1.2rem;
			margin: 10px 0;
		}
	}
}

@media screen and (max-width: 992px) {
	.wrapper {
		flex-direction: column-reverse;

		.right {
			margin-bottom: 20px;
			text-align: center;
		}
	}
}
