.card_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;

	.card_left {
		color: white;
		h5 {
			font-weight: 700;
			font-size: 1rem;
			margin: 0;
		}

		p {
			font-size: 1rem;
			margin: 0;
			font-weight: 500;
		}

		.btn {
			border: 2px solid rgba(0, 192, 180, 1);
			color: rgba(0, 192, 180, 1);
			border-radius: 25px;
			background: transparent;
			padding: 3px 10px;
			margin-top: 5px;
		}
	}

	.card_right {
		position: relative;
		img {
			width: 100%;
			margin-top: 20px;
		}
		.dash {
			z-index: 1;
			width: 80px;
			position: absolute;
			border-bottom: 2px solid rgba(0, 192, 180, 1);
		}

		.dash1 {
			width: 110px;
			left: -35px;
			bottom: 25px;
			transform: rotate(135deg);
		}

		.dash2 {
			width: 80px;
			left: -50px;
			top: 90px;
		}

		.dash3 {
			width: 110px;
			left: -50px;
			top: 20px;
			transform: rotate(50deg);
		}
	}

	.card_left1 {
		flex: 8;
		width: 100%;
	}

	.card_right1 {
		flex: 4;
		text-align: start;
		width: 30%;
	}
}

.card_wrapper1 {
	margin-left: -50px;
}

.card_wrapper3 {
	margin-left: -50px;
}
