.timeline {
	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.left {
			flex: 6;
			text-align: center;
		}

		.right {
			flex: 6;
			color: white;
			padding: 20px;
			border-radius: 20px;
			box-shadow: 0px 5px 25px rgba(28, 22, 75, 0.2);
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 30%;
				left: -45px;
				margin-left: 5px;
				border-width: 20px;
				border-style: solid;
				transform: rotate(90deg);
				border-color: whitesmoke transparent transparent transparent;
			}

			div {
				h4 {
					color: #1c164a;
					font-weight: 600;
					letter-spacing: 1px;
				}
			}
		}

		.revert {
			flex: 6;
			color: white;
			padding: 20px;
			border-radius: 20px;
			box-shadow: 0px 5px 25px rgba(28, 22, 75, 0.2);
			position: relative;

			&::after {
				content: "";
				position: absolute;
				top: 30%;
				right: -40px;
				margin-left: 5px;
				border-width: 20px;
				border-style: solid;
				transform: rotate(270deg);
				border-color: whitesmoke transparent transparent transparent;
			}

			div {
				h4 {
					color: #1c164a;
					font-weight: 600;
					letter-spacing: 1px;
				}
			}
		}
	}

	.number {
		text-align: center;
		span {
			display: block;
			color: #00c0b4;
			font-size: 10px;
			font-weight: 800;
		}

		.num {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin: 0 auto;
			width: 30px;
			height: 30px;
			color: white;
			margin: 0 auto;
			border-radius: 50%;
			font-weight: 700;
			padding: 20px;
			font-size: 1.5rem;
			background: linear-gradient(90.08deg, #00c0b4 0.1%, #29c9f3 99.97%);
		}
	}
}
