.timeline {
	.wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.dash {
			font-weight: 200;
			font-size: 3.5rem;
			margin-bottom: -30px;
			color: rgba(0, 192, 180, 1);
		}

		.body{
			margin-top: -50px;
			text-align: center;

			h5{
				font-weight: 600;
				font-size: 1rem;
				margin: 0;
			}

			p{
				font-size: 1rem;
				margin: 0;
			}
		}
	}

	.number {
		text-align: center;
		span {
			display: block;
			color: #00c0b4;
			font-size: 10px;
			font-weight: 800;
		}

		.num {
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin: 0 auto;
			width: 30px;
			height: 30px;
			color: white;
			margin: 0 auto;
			border-radius: 50%;
			font-weight: 700;
			padding: 20px;
			font-size: 1.5rem;
			background: linear-gradient(90.08deg, #00c0b4 0.1%, #29c9f3 99.97%);
		}
	}
}
